<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ server_name }}</title>
</head>
<body>
    <h1>Managed by Ansible</h1>

    <p>Server name: {{ server_name }}</p>
    <p>Admin email: {{ admin_email }}</p>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>Distribution: {{ ansible_distribution }}</p>
    <p>Version: {{ ansible_distribution_version }}</p>
</body>
</html>
